<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>

<body>
    <h2>Formulario de contacto</h2>
    <form action="/web/contacto" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre"><br>

        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br>

        <label for="mensaje">Mensaje</label>
        <input type="textarea" name="mensaje" id="mensaje"><br>

        <button type="submit">Enviar</button>

    </form>
</body>

</html>